<!DOCTYPE html>
<div id="ffscoring" class="modal fade in" role="dialog" tabindex="-1" style="display: block;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Fantasy Football Scoring System</h3>
      </div>

      <div class="modal-body">


<div class="smtext">
<div class="section_half"><div class="section_left">
<div style="font-size:15px; margin-bottom:5px"><b>Passing</b></div>
<table class="statistics">
<tbody><tr class="header"><td style="width:50%">Stat Category</td><td style="width:50%">Point Value</td></tr>
<tr valign="top" class="row0"><td><b>Passing Yards</b></td><td>1 point for every 25 yards</td></tr>
<tr valign="top" class="row1"><td><b>Passing TDs</b></td><td>6 points</td></tr>
<tr valign="top" class="row0"><td><b>Passing Interceptions</b></td><td>-2 points</td></tr>
<tr valign="top" class="row1"><td><b>Passing 2-Point Conversions</b></td><td>2 points</td></tr>
</tbody></table><p>
</p><div style="font-size:15px; margin-bottom:5px"><b>Rushing</b></div>
<table class="statistics">
<tbody><tr class="header"><td style="width:50%">Stat Category</td><td style="width:50%">Point Value</td></tr>
<tr valign="top" class="row0"><td><b>Rushing Yards</b></td><td>1 point for every 10 yards</td></tr>
<tr valign="top" class="row1"><td><b>Rushing TDs</b></td><td>6 points</td></tr>
<tr valign="top" class="row0"><td><b>Rushing 2-Point Conversions</b></td><td>2 points</td></tr>
</tbody></table><p>
</p><div style="font-size:15px; margin-bottom:5px"><b>Receiving</b></div>
<table class="statistics">
<tbody><tr class="header"><td style="width:50%">Stat Category</td><td style="width:50%">Point Value</td></tr>
<tr valign="top" class="row0"><td><b>Receptions</b></td><td>1 point <b>(for PPR scoring)</b></td></tr>
<tr valign="top" class="row1"><td><b>Receiving Yards</b></td><td>1 point for every 10 yards</td></tr>
<tr valign="top" class="row0"><td><b>Receiving TDs</b></td><td>6 points</td></tr>
<tr valign="top" class="row1"><td><b>Receiving 2-Point Conversions</b></td><td>2 points</td></tr>
</tbody></table><p>
</p><div style="font-size:15px; margin-bottom:5px"><b>Miscellaneous Offense</b></div>
<table class="statistics">
<tbody><tr class="header"><td style="width:50%">Stat Category</td><td style="width:50%">Point Value</td></tr>
<tr valign="top" class="row0"><td><b>Offensive Fumble Recovery TD</b></td><td>6 points</td></tr>
<tr valign="top" class="row1"><td><b>Fumbles Lost</b></td><td>-2 points</td></tr>
</tbody></table>
</div></div>
<div class="section_half"><div style="section_right">
<div style="font-size:15px; margin-bottom:5px"><b>Kicking</b></div>
<table class="statistics">
<tbody><tr class="header"><td style="width:50%">Stat Category</td><td style="width:50%">Point Value</td></tr>
<tr valign="top" class="row0"><td><b>Kicking PATs</b></td><td>1 point</td></tr>
<tr valign="top" class="row1"><td><b>Kicking FGs</b></td><td>0-49 yards: 3 points<br>50+ yards: 5 points</td></tr>
</tbody></table><p>
</p><div style="font-size:15px; margin-bottom:5px"><b>Defense</b></div>
<table class="statistics">
<tbody><tr class="header"><td style="width:50%">Stat Category</td><td style="width:50%">Point Value</td></tr>
<tr valign="top" class="row0"><td><b>Defense/Special Teams TDs</b></td><td>6 points</td></tr>
<tr valign="top" class="row1"><td><b>Defensive Interception</b></td><td>2 points</td></tr>
<tr valign="top" class="row0"><td><b>Defensive Sack</b></td><td>1 point</td></tr>
<tr valign="top" class="row1"><td><b>Defensive Fumble Recovery</b></td><td>2 points</td></tr>
<tr valign="top" class="row0"><td><b>Defensive Blocked Kick</b></td><td>2 points</td></tr>
<tr valign="top" class="row1"><td><b>Defensive Safety</b></td><td>2 points</td></tr>
<tr valign="top" class="row1"><td><b>Defensive PAT</b></td><td>2 points</td></tr>
<tr valign="top" class="row0"><td><b>Defensive Points Allowed</b></td><td>
0-6 Points Against: 10 points<br>7-13 points against: 7 points<br>14-20 points against: 4 points<br>21-27 points against: 1 points<br>
</td></tr>
</tbody></table>
</div></div>
<div class="clear"></div>
</div>


</div>


</div>
</div>
</div>
</html>
