.pagetitle{
  margin-top: 10px;
  text-align: center;
  margin-bottom: 50px;
}
.intro{
  margin-top: 10px;
  text-align: center;
  margin-bottom: 50px;
}
.pic{
  margin: 0 auto;
}
.buttondiv{
  margin-top: 50px;
  text-align: center;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
/* Clear floats after image containers */
.topthreecontainer::after {
  padding: 20px;
}
.center-div{
  margin: 0 auto;
  width: 1000px;
  content: "";
  clear: both;
  display: table;
}
.card{
  width: 300px;
  float: left;
  padding: 20px;
  text-align: center;
}

.modal{
  overflow: hidden;
}

/* .scoring {
  padding-top: : 5px;
  padding-bottom: 5px;
} */
